main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
  display: grid;
  gap: 2rem;
}

#users {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  overflow: auto;
}

#route-content {
  min-width: 0;
}

@media (min-width: 768px) {
  main {
    margin: 4rem auto;
    grid-template-columns: minmax(12rem, 1fr) minmax(0, 3fr);
    align-items: start;
  }

  #users {
    flex-direction: column;
  }
}